

/* For the gallery */ 
.modal-dialog {
	max-width: 99% !important;
	margin: 30px auto;
}
.modal-body {
  	position:relative;
  	padding:0px;
}
.gallery .row {
	margin-bottom: 10px;
}
.gallery img {
	width: 100%;
	padding: 3px;
	border: 1px solid #ccc;
}
.close {
  	position:absolute;
  	right:-30px;
  	top:0;
  	z-index:999;
  	font-size:2rem;
  	font-weight: normal;
  	color:#fff;
  	opacity:1;
}
#image {
  	min-height:200px;
}
.modal-content {
    width: 100% !important;
}