.carousel h1, .carousel h5, .carousel h6 {
	background-color: rgba(0, 0, 0, 0.3);
	margin: 0;
	padding: 20px;
}
.carousel h6 a {
	padding: 10px 20px;
	border: 1px solid white;
	font-size: 17px;
	color: white;
}
.carousel h6 a:hover {
	color: aqua;
	border: 1px solid aqua;
	text-decoration: none;
}
.mission {
	text-align: center;
}
.vision {
	background-color: #f9f9f9;
	padding: 20px 0;
	color: #670101;
	text-align: justify;
    text-justify: inter-word;
}
.vision p {
	margin: 17px 0;
	font-size: 20px;
}
.linkbutton {
	padding: 10px 20px;
	background-color: black;
	font-size: 17px;
	color: white;
}
.linkbutton:hover {
	background-color: #670101;
	text-decoration: none;
	color: white;
}
.freeshowad {
	min-height: 260px;
	margin-top: 30px;
	padding: 20px;
}