.customnav {
	background-color: white; 
	min-height: 80px; 
}
.customnav .active {
	background-color: #eaeaea;
}
.customnav button {
	background-color: #eaeaea; 
}
.customnav .navbar-toggler-icon {
	color: white;
}
.customnavlinks {
	font-size: 16px;
}
.customnavlinks li { 
	padding: 0 10px;
}
.customnavlinks a {
	color: #CF0505 !important;
}
.customnavlinks a:hover {
	background-color: #eaeaea;
}
.mainlogolink a:hover {
	background-color: white;
}
.imagebanner {
	margin-top: 55px;
	text-align: center;
	margin-bottom: 0;
}
.majorheadings {
	font-size: 4.1em;
}
.jumbotron {
	margin-bottom: 0 !important;
}
#dinnershowimage img {
	width: 100%;
	height: auto;
}
.moreinfo {
	text-align: center;
	font-size: 17px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.maroonsection {
	background-color: #670101;
	color: white;
	padding-top: 10px;
	padding-bottom: 30px;
}
.maroonsection h5 {
	color: white;
}
.whattoexpect {
	background-color: #f9f9f9;
	padding: 20px 0;
	text-align: justify;
    text-justify: inter-word;
}
.whattoexpect p {
	margin: 17px 0;
	font-size: 20px;
}
.faq {
	margin-top: 30px;
}
.faq h3 {
	margin-top: 0px;
}
.faq .row {
	margin-bottom: 30px;
	margin-right: 0;
	margin-left: 0;
}
/** 
.faq .col-lg-6 {
	margin-bottom: 80px;
}*/
.question-icon {
	background-color: #670101;
	color: white;
	font-size: 35px;
	max-width: 60px !important;
    max-height: 60px;
}
.saladmasterad a, .saladmasterad a:hover {
	color: white;
	text-decoration: none;
}
.saladmasterad img {
	width: 200px;
	margin-right: 20px;
}
.bottomlinkssection { 
	min-height: 200px;
	padding-top: 20px;
	padding-bottom: 0;
	font-size: 14px;
}
.bottomlinkssection h5 {
	font-size: 15px;
}
.bottomlinkssection a, .bottomlinkssection a:visited {
	color: white;
	text-decoration: none;
}
.bottomlinkssection a:hover {
	color: aqua;
	text-decoration: none;
}
.bottomlinkssection .col-sm-2 {
	margin-bottom: 40px;
}
.bottomlinkssection .row {
	margin: 0;
	padding: 0;
}
.bottomlinkssection hr {
	border-color: white;
}
footer {
	padding: 7px;
	margin: 0;
}
.linkbutton {
	padding: 10px 20px;
	background-color: black;
	font-size: 17px;
	color: white;
}
.linkbutton:hover {
	background-color: #670101;
	text-decoration: none;
	color: white;
}

.belownav {
	margin-top: 55px;
}
.centered {
	text-align: center;
}
.greycontainer {
	background-color: #e9ecef;
	padding: 50px 0;
}
.whitecontainer {
	background-color: #fff;
	padding: 50px 0;
}
.marooncontainer {
	background-color: #670101;
	padding: 50px 0;
	color: white;
}
.major-body-content h1 {
	font-size: 4.1em;
	font-weight: normal;
	margin-bottom: 30px
}
.major-body-content p {
	font-size: 22px;
} 
.largepad {
	padding: 50px 0; 
}
.left {
	text-align: left;
}
.greycontainer .row {
	margin: 0 !important;
}
.whitecontainer .row {
	margin: 0 !important;
}
.recipe-image {
	width: 100%;
}
.recipe-details {
	padding: 20px 30px !important;
}
.recipe-title {
	font-size: 55px;
	margin-bottom: 30px;
}
.greytopcover {
	position: fixed;
	top: 55px; /*for nav*/
	height: 100%; 
	width: 100%;
	z-index: 10 !important;
	opacity: 0.5;
	background-color: #000;
	display: block!important;
}
small {
	color: #670101;
}