{% extends "layout_with_datatable.html" %}
{% block title %} Blog {% endblock %}
{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron featuredarticle">
		<div class="container">
			<div class="blogheading">{{article.title}}</div>
			<div class="blogdescription">{{article.body | safe | truncate}}</div>
			<div class="blogdatetime">Created on {{article.create_date}}</div><br>
			<a class="linkbutton" href="article/{{article.id}}">Read More</a>
		</div>
    </div>

    <div class="blogcontent">
    	<div class="container">
    		<div class="row">
    			<!-- All blog articles. Paginated -->
    			<div class="col-sm-8 allarticles">

					<table id="example" class="table" cellspacing="0" width="100%">
				        <thead>
				            <tr>
				                <th>Content</th>
				            </tr>
				        </thead>
				        <tfoot>
				            <tr>
				                <th>Content</th>
				            </tr>
				        </tfoot>
				        <tbody>

				            <!-- These rows are added just as a sample. Loop should only have one row -->
				            {% for article in articles %}
				            <tr>
				                <td>
				                	<div class="single-article-instance">
						    			<div class="blogheading"> {{article.title}} </div>
						    			<div class="blogimage"><img src={{article.images}} alt="Blog Image"></div>
						    			<div class="blogdatetime">{{article.create_date}}</div>
						    			<hr>
						    			<div class="blogdescription">
						    			{{article.body | safe |truncate }}  <br>

						    			</div>
						    			<a class="linkbutton"  href="article/{{article.id}}">Read More</a>
						    		</div>
				                </td>
				            </tr>
				            {% endfor %}
				            <tr><td>
				                	<div class="single-article-instance">
						    			<div class="blogheading"><a href="article.html" title="Go to Article">Sample Three</a></div>
						    			<div class="blogdatetime">Date</div> <hr>
						    			<div class="blogdescription">
						    				<strong>I've added lots of examples so you can test pagination (Page 1,2... Prev, Next) as well as The Search Bar on top</strong>
						    			</div>
						    		</div>
				            </td></tr>
				            <tr><td>
				                	<div class="single-article-instance">
						    			<div class="blogheading"><a href="article.html" title="Go to Article">Sample Four</a></div>
						    			<div class="blogdatetime">Date</div> <hr>
						    			<div class="blogdescription">Sample Description</div>
						    		</div>
				            </td></tr>

				            <tr><td>
				                	<div class="single-article-instance">
						    			<div class="blogheading"><a href="article.html" title="Go to Article">Sample Five</a></div>
						    			<div class="blogdatetime">Date</div> <hr>
						    			<div class="blogdescription">Sample Description</div>
						    		</div>
				            </td></tr>
				            <tr><td>
				                	<div class="single-article-instance">
						    			<div class="blogheading"><a href="article.html" title="Go to Article">Sample Six</a></div>
						    			<div class="blogdatetime">Date</div> <hr>
						    			<div class="blogdescription">Sample Description</div>
						    		</div>
				            </td></tr>
				            <tr><td>
				                	<div class="single-article-instance">
						    			<div class="blogheading"><a href="article.html" title="Go to Article">Sample Seven</a></div>
						    			<div class="blogdatetime">Date</div> <hr>
						    			<div class="blogdescription">Sample Description</div>
						    		</div>
				            </td></tr>
				            <tr><td>
				                	<div class="single-article-instance">
						    			<div class="blogheading"><a href="article.html" title="Go to Article">Sample Eight</a></div>
						    			<div class="blogdatetime">Date</div> <hr>
						    			<div class="blogdescription">Sample Description</div>
						    		</div>
				            </td></tr>
				            <tr><td>
				                	<div class="single-article-instance">
						    			<div class="blogheading"><a href="article.html" title="Go to Article">Sample Nine</a></div>
						    			<div class="blogdatetime">Date</div> <hr>
						    			<div class="blogdescription">Sample Description</div>
						    		</div>
				            </td></tr>
				            <tr><td>
				                	<div class="single-article-instance">
						    			<div class="blogheading"><a href="article.html" title="Go to Article">Sample Ten</a></div>
						    			<div class="blogdatetime">Date</div> <hr>
						    			<div class="blogdescription">Sample Description</div>
						    		</div>
				            </td></tr>
				            <tr><td>
				                	<div class="single-article-instance">
						    			<div class="blogheading"><a href="article.html" title="Go to Article">Sample Eleven</a></div>
						    			<div class="blogdatetime">Date</div> <hr>
						    			<div class="blogdescription">Sample Description</div>
						    		</div>
				            </td></tr>
				            <tr><td>
				                	<div class="single-article-instance">
						    			<div class="blogheading"><a href="article.html" title="Go to Article">Sample Twelve</a></div>
						    			<div class="blogdatetime">Date</div> <hr>
						    			<div class="blogdescription">Sample Description</div>
						    		</div>
				            </td></tr>
				        </tbody>
				    </table>

	    		</div>

	    		<!-- Blog Sidebar -->
	    		<div class="col-sm-4">
	    			<div class="p-3 mb-3 bg-light rounded blogsociallinks">
	    				<h5>Find us on Social Media</h5>

	    				<a title="Facebook" style="color: #3b5998" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
	    				<a title="Twitter" style="color: #0084b4" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
	    				<a title="Youtube" style="color: red" href="#" target="_blank"><i class="fab fa-youtube"></i></a>
	    			</div>
	    			<div class="p-3 mb-3 bg-light rounded recentarticles">
	    				<h5>Previous Articles</h5>

	    				<!-- GET LATEST 3 BLOG POSTS FROM DATABASE AND LOOP THIS ENTIRE SECTION -->
	    				{% for new in newest%}
						<div class="recentarticleinstance">
							<div class="card mb-4 box-shadow">
							<div class="blogimage"><img src={{new.images}} alt="Blog Image"></div>
								<div class="card-body">
									<h5>{{new.title}}</h5>
									<p class="card-text">{{new.body |safe |truncate }}
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group">
											<button type="button" class="btn btn-sm btn-outline-secondary">Read more</button>

										</div>
										<small class="text-muted">{{new.create_date }}</small>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}

	    			</div>
	    		</div>
	    	</div>
    	</div>
    </div>

{% endblock %}
