{% extends "layout.html" %}

{% block title %} Cook School {% endblock %}

{% block body %}


	<!-- Major Body Content - After Nav, Before Footer -->
	<div class="major-body-content">
	    <div class="greycontainer centered belownav"><!-- belownav is just used to add a margintop -->
			<div class="container">
				<h1>Red5 Saladmaster Cook School</h1>
				<p>It’s with great pleasure that we invite you to our Red 5 Saladmaster Cook School! This afternoon is an extension of our customer service to our Saladmaster community. It’s an opportunity to share more tips about how to maximize nutrition in your traditional family meals and a chance to meet other families enjoying our nutritional cooking. </p>
			</div>
	    </div>

		<div class="marooncontainer">
			<div class="container">
				<h1>Quick Recipes you may try out</h1>
			</div>
		</div>

		<div class="whitecontainer">
			<div class="container">
				<!-- Youtube videos -->
				<!-- 16:9 aspect ratio -->
				<div class="row">
					<div class="col-sm-3">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3LJPPL5FqT8" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZqpRNlNJCXw" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nDVr4ba-Om4" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/T-QOt-ZozzI" allowfullscreen></iframe>
						</div>
					</div>
				</div>

				<div class="row" style="padding-top: 20px;">
					<div class="col-sm-3">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cSKYXqyyef0" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mjWkyA-adAg" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/X4WDpk8KO5Q" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gscFiz9GNyk" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="marooncontainer">
			<div class="container">
				<h1>Image Gallery</h1>
			</div>
		</div>

	    <!-- GALLERY -->
	    <div class="whitecontainer centered">
	    	<div class="container">
	    		<!-- Images: Add both large and small versions -->
				<div class="gallery">
					<div class="row">
						<div class="col-sm-3">
							<img src="static/images/cookschool/1.jpg" alt="" data-toggle="modal" data-bigimage="static/images/cookschool/1.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/2.jpg" alt="" data-toggle="modal" data-bigimage="static/images/cookschool/2.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/3.jpg" alt="" data-toggle="modal" data-bigimage="static/images/cookschool/3.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/4.jpg" alt="" data-toggle="modal" data-bigimage="static/images/cookschool/4.jpg" data-target="#myModal" class="img-fluid">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<img src="static/images/cookschool/5.jpg" alt="" data-toggle="modal" data-bigimage="static/images/cookschool/5.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/6.jpg" alt="" data-toggle="modal" data-bigimage="static/images/cookschool/6.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/7.jpg" alt="" data-toggle="modal" data-bigimage="static/images/cookschool/7.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/8.jpg" alt="" data-toggle="modal" data-bigimage="static/images/cookschool/8.jpg" data-target="#myModal" class="img-fluid">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<img src="static/images/cookschool/9.jpg" alt="" data-toggle="modal" data-bigimage="static/images/cookschool/9.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/10.jpg" alt="" data-toggle="modal" data-bigimage="static/images/cookschool/10.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/11.jpg" alt="" data-toggle="modal" data-bigimage="static/images/cookschool/11.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/13.jpg" alt="" data-toggle="modal" data-bigimage="static/images/cookschool/13.jpg" data-target="#myModal" class="img-fluid">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<img src="static/images/cookschool/12.jpg" alt="" data-toggle="modal" data-bigimage="static/images/cookschool/12.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/14.jpg" alt="" data-toggle="modal" data-bigimage="static/images/cookschool/14.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/15.jpg" alt="" data-toggle="modal" data-bigimage="static/images/cookschool/15.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/16.jpg" alt="" data-toggle="modal" data-bigimage="static/images/cookschool/16.jpg" data-target="#myModal" class="img-fluid">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<img src="static/images/cookschool/17.jpg" alt="" data-toggle="modal" data-bigimage="static/images/cookschool/17.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/18.jpg" alt="" data-toggle="modal" data-bigimage="static/images/cookschool/18.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/19.jpg" alt="" data-toggle="modal" data-bigimage="static/images/cookschool/19.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/20.jpg" alt="" data-toggle="modal" data-bigimage="static/images/cookschool/20.jpg" data-target="#myModal" class="img-fluid">
						</div>
					</div>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
					  	<div class="modal-content">
						    <div class="modal-body">
						    	<!-- Close Button -->
						     	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						    		<span aria-hidden="true">&times;</span>
						    	</button>
						    	<!-- Loading GIF -->
						      	<img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" alt="" id="image" class="img-fluid">
						    </div>
					  	</div>
					</div>
				</div>
			</div>
	    </div>


		<div class="marooncontainer centered">
			<div class="container">
				<p>"Every time you eat you either feeding a disease or fighting one."
				<br><br>
				What you eat is as important as how you prepare it, cook it, serve it, store it and reheat it!
				Our main focus is what happens to that well sourced organic food between your kitchen table and your dining table!
				At our cook school, we will share with you our revolutionary methods of cooking with no water, no oils, on very low heat in record time. This method promotes retention of nutrients, prevention of contamination and minimization of shrinkage and oxidation in our food.</p>
			</div>
		</div>

	    <div class="whitecontainer centered">
			<div class="container">
				<p>Our Chef will share his knowledge about food and show you how to prepare up to 10 different African and other recipes from around the world using Saladmaster equipment.
				We will also hold a ''Ask the Nutritionist'' session with a qualified nutritionist talking about relevant topics in the community regarding health.
				<br><br>
				This you must see!
				We believe and promote freedom of food choices (eat what you want) fun in food variety (be adventurous, put it all in) and mouthwatering flavor in all your foods.
				Yes, you can Eat what you want and normalize your weight! See you at our cook school!</p>
			</div>
		</div>

    <div class="maroonsection">
		<div class="container">
			<span class="majorheadings">BOOKING</span><br>
			<span>ATTEND A COOK SCHOOL</span>
		</div>
	</div>

    <div class="booking" id="booking">
		<div class="container">
			<div class="row form-row">
				<div class="col-md-2 box-item"></div>
				<div class="col-md-8">
					<form name="form1" method="post" action="">
						<div class="row cookschoolform">
							<div class="col-md-12">
								<label><strong>Select a Cook School Date</strong></label>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<div class="radio" style="text-align: left;">
										<label><input type="radio" name="cookschooldate" checked="checked">March 2018 Cook School<br>17th Saturday 12:00 PM</label>
									  	<label><input type="radio" name="cookschooldate">April 2018 Cook School<br>21st Saturday 12:00 PM</label>
									  	<label><input type="radio" name="cookschooldate">May 2018 Cook School<br>12th Saturday 12:00 PM</label>
									  	<label><input type="radio" name="cookschooldate">June 2018 Cook School<br>16th Saturday 12:00 PM</label>
									  	<label><input type="radio" name="cookschooldate">July 2018 Cook School<br>14st Saturday 12:00 PM</label>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<div class="radio" style="text-align: left;">
										<label><input type="radio" name="cookschooldate" checked="checked">March 2018 Cook School<br>17th Saturday 12:00 PM</label>
									  	<label><input type="radio" name="cookschooldate">April 2018 Cook School<br>21st Saturday 12:00 PM</label>
									  	<label><input type="radio" name="cookschooldate">May 2018 Cook School<br>12th Saturday 12:00 PM</label>
									  	<label><input type="radio" name="cookschooldate">June 2018 Cook School<br>16th Saturday 12:00 PM</label>
									  	<label><input type="radio" name="cookschooldate">July 2018 Cook School<br>14st Saturday 12:00 PM</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control input-lg" name="firstname" id="firstname" placeholder="First Name" required="required">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control input-lg" name="lastname" id="lastname" placeholder="Last Name" required="required">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="phone" class="form-control input-lg" name="phone" id="phone" placeholder="Phone" required="required">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="phone" class="form-control input-lg" name="phone2" id="phone2" placeholder="Phone 2">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input type="email" class="form-control input-lg" name="email" id="email" placeholder="Email">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<div class="radio">
										<label>Are you a Customer?</label>&nbsp;
										<label><input type="radio" name="allergies">YES</label>&nbsp;
									  	<label><input type="radio" name="allergies" checked="checked">NO</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<div class="radio">
										<label>How many people are coming with you?</label>&nbsp;
										<label><input type="radio" name="otherpeople" checked="checked">Just Me</label>&nbsp;
									  	<label><input type="radio" name="otherpeople">1</label>
									  	<label><input type="radio" name="otherpeople">2-3</label>
									  	<label><input type="radio" name="otherpeople">4-5</label>
									  	<label><input type="radio" name="otherpeople">6+</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<textarea name="notes" id="notes" class="form-control" rows="4" cols="25" placeholder="Notes"></textarea>
								</div>
								<button type="submit" class="btn btn-4 btn-block" name="btnBooking" id="btnBbooking">
							Send Request</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-2 box-item"></div>
			</div>
		</div>
	</div>
	</div>

{% endblock %}