{% extends "layout.html" %}

{% block title %} Cook School {% endblock %}

{% block body %}


	<!-- Major Body Content - After Nav, Before Footer -->
	<div class="major-body-content">
	    <div class="greycontainer centered belownav"><!-- belownav is just used to add a margintop -->
			<div class="container">
				<h1>Red5 Saladmaster Cook School</h1>
				<p>It’s with great pleasure that we invite you to our Red 5 Saladmaster Cook School! This afternoon is an extension of our customer service to our Saladmaster community. It’s an opportunity to share more tips about how to maximize nutrition in your traditional family meals and a chance to meet other families enjoying our nutritional cooking. </p>
			</div>
	    </div>


	    <!-- GALLERY -->
	    <div class="whitecontainer centered">
	    	<div class="container">
	    		<!-- Images: Add both large and small versions -->
				<div class="gallery">
					<div class="row">
						<div class="col-sm-3">
							<img src="/static/images/cookschool/1.jpg" alt="" data-toggle="modal" data-bigimage="images/cookschool/1.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/2.jpg" alt="" data-toggle="modal" data-bigimage="images/cookschool/2.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/3.jpg" alt="" data-toggle="modal" data-bigimage="images/cookschool/3.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/4.jpg" alt="" data-toggle="modal" data-bigimage="images/cookschool/4.jpg" data-target="#myModal" class="img-fluid">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<img src="static/images/cookschool/5.jpg" alt="" data-toggle="modal" data-bigimage="images/cookschool/5.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/6.jpg" alt="" data-toggle="modal" data-bigimage="images/cookschool/6.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/7.jpg" alt="" data-toggle="modal" data-bigimage="images/cookschool/7.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/8.jpg" alt="" data-toggle="modal" data-bigimage="images/cookschool/8.jpg" data-target="#myModal" class="img-fluid">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<img src="static/images/cookschool/9.jpg" alt="" data-toggle="modal" data-bigimage="images/cookschool/9.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/10.jpg" alt="" data-toggle="modal" data-bigimage="images/cookschool/10.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/11.jpg" alt="" data-toggle="modal" data-bigimage="images/cookschool/11.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/13.jpg" alt="" data-toggle="modal" data-bigimage="images/cookschool/13.jpg" data-target="#myModal" class="img-fluid">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<img src="static/images/cookschool/12.jpg" alt="" data-toggle="modal" data-bigimage="images/cookschool/12.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/14.jpg" alt="" data-toggle="modal" data-bigimage="images/cookschool/14.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/15.jpg" alt="" data-toggle="modal" data-bigimage="images/cookschool/15.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/16.jpg" alt="" data-toggle="modal" data-bigimage="images/cookschool/16.jpg" data-target="#myModal" class="img-fluid">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<img src="static/images/cookschool/17.jpg" alt="" data-toggle="modal" data-bigimage="images/cookschool/17.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/18.jpg" alt="" data-toggle="modal" data-bigimage="images/cookschool/18.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/19.jpg" alt="" data-toggle="modal" data-bigimage="images/cookschool/19.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/cookschool/20.jpg" alt="" data-toggle="modal" data-bigimage="images/cookschool/20.jpg" data-target="#myModal" class="img-fluid">
						</div>
					</div>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
					  	<div class="modal-content">
						    <div class="modal-body">
						    	<!-- Close Button -->
						     	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						    		<span aria-hidden="true">&times;</span>
						    	</button>
						    	<!-- Loading GIF -->
						      	<img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" alt="" id="image" class="img-fluid">
						    </div>
					  	</div>
					</div>
				</div>
			</div>
	    </div>


		<div class="marooncontainer centered">
			<div class="container">
				<p>"Every time you eat you either feeding a disease or fighting one."
				<br><br>
				What you eat is as important as how you prepare it, cook it, serve it, store it and reheat it!
				Our main focus is what happens to that well sourced organic food between your kitchen table and your dining table!
				At our cook school, we will share with you our revolutionary methods of cooking with no water, no oils, on very low heat in record time. This method promotes retention of nutrients, prevention of contamination and minimization of shrinkage and oxidation in our food.</p>
			</div>
		</div>

	    <div class="whitecontainer centered">
			<div class="container">
				<p>Our Chef will share his knowledge about food and show you how to prepare up to 10 different African and other recipes from around the world using Saladmaster equipment.
				We will also hold a ''Ask the Nutritionist'' session with a qualified nutritionist talking about relevant topics in the community regarding health.
				<br><br>
				This you must see!
				We believe and promote freedom of food choices (eat what you want) fun in food variety (be adventurous, put it all in) and mouthwatering flavor in all your foods.
				Yes, you can Eat what you want and normalize your weight! See you at our cook school!</p>
			</div>
		</div>
	</div>

{% endblock %}