{% extends "layout.html" %}

{% block title %} Dinnershow {% endblock %}

{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron imagebanner">
		<div class="container">
			<span class="majorheadings">The Dinner Show</span>
			<p style="font-size: 22px">The concept behind the Dinner Show is to allow you to personally experience for yourself, in the comfort of your own home, surrounded by family and friends just how well the Red 5/Saladmaster system works.</p>
		</div>
    </div>

    <div id="dinnershowimage">
    	<img src="static/images/dinnershow.jpg" alt="dinner show banner image">
	</div>

	<div class="container moreinfo">
		Along with an informative presentation about important Health and Nutrition issues, guests will receive a cooking demonstration, all guests will have a delicious and tasty five course meal prepared and cooked before their eyes in around 35 minutes.
	</div>

	<div class="maroonsection">
		<div class="container">
			<span class="majorheadings">What to Expect at a FREE Dinner Show</span><br>
		</div>
	</div>

	<div class="whattoexpect">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>The concept behind the Dinner Show is to allow you to personally experience for yourself, in the comfort of your own home, surrounded by family and friends just how well the Red 5/Saladmaster system works.</p>

					<p>Along with an informative presentation about important Health and Nutrition issues, guests will receive a cooking demonstration, all guests will have a delicious and tasty five course meal prepared and cooked before their eyes in around 35 minutes.</p>

					<p>Saladmaster is a health and nutrition company from America that has been trading since 1946 and currently trades in over 40 different countries. The purpose of the dinner show is to show how to prepare and cook food using no fats, grease or oils of any kind, very little water and on very low temperatures which retains up to 93% of the valuable nutrients and minerals within the food.</p>

					<p>Most people ask ‘Well how do you cook vegetables without water? Which is a good question because nearly everyone has been conditioned to believe that is the only way to cook vegetables. The big question that needs to be asked is WHY it's important to cook without water? The best way to explain everything is to demonstrate exactly how it all works.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="whitesection largepad">
		<div class="container">
			<h1>The demonstration will be conducted as follows:</h1>

			<p>We will take you through some seemingly minor health and nutrition tips that have a great impact on our health.</p>
			<p>We will freshly prepare and cook you and your family a:</p>
			<ol type="1">
				<li>10 items harvest salad drenched in lemon juice</li>
				<li>Golden brown fried chicken with our home made onion, ginger & apple sauce</li>
				<li>A 5 vegetable medley cooked in one container using zero water</li>
				<li>Cheesy scalloped potatoes but we de-starch the potatoes and defat the cheese.</li>
				<li>Bake you a delicious chocolate cake with a twist</li>
			</ol>
		</div>
	</div>

	<div class="greycontainer">
		<div class="container">
			<p>All that healthy food and it's only 600 calories!! So you can eat as much as you want and still normalize your weight. (NB: You can cook any cuisine- this is just for the show).</p>

			<p>We then conduct two scientific tests to determine whether loss of nutrients and pollution are prevalent in your current food preparation methods.</p>

			<p>We show you the range of Saladmaster products that are available for investment as may be prioritized</p>

			<p>Please inform us of an appropriate date at the earliest for a full demonstration to last about 2.5 hours.</p>
		</div>
	</div>

	<div class="maroonsection">
		<div class="container">
			<span class="majorheadings">FAQ</span><br>
			<span>FREQUENTLY ASKED QUESTIONS</span>
		</div>
	</div>

	<div class="container faq">
		<div class="row">
			<div class="col-sm-1 question-icon">Q</div>
			<div class="col-sm-11 qnanswer">
	          	<h3>How many people can attend the dinner show?</h3>
				<p>We recommend that up to 2 families attend the dinner show</p>
			</div>
		</div>
      	<div class="row">
			<div class="col-sm-1 question-icon">Q</div>
			<div class="col-sm-11 qnanswer">
	          	<h3>Do I need to supply food for the dinner show?</h3>
				<p>No! We supply all the food required for the dinner show :)</p>
			</div>
		</div>
      	<div class="row">
			<div class="col-sm-1 question-icon">Q</div>
			<div class="col-sm-11 qnanswer">
	          	<h3>Do you cater for food allergies?</h3>
				<p>The Red5 consultant will call to discuss any food allergies before they book the dinner show with you.</p>
			</div>
		</div>
      	<div class="row">
			<div class="col-sm-1 question-icon">Q</div>
			<div class="col-sm-11 qnanswer">
	          	<h3>How long does the dinner show take?</h3>
				<p>The dinner show last 2 and a half hours from start to finish including you eating the food. Red 5 consultants are only paid for that time if they are at your house any longer than that it is by mutual agreement after the show.</p>
			</div>
		</div>
      	<div class="row">
			<div class="col-sm-1 question-icon">Q</div>
			<div class="col-sm-11 qnanswer">
	          	<h3>Are we required to buy anything?</h3>
				<p>There is no pressure to purchase any of our products, all we ask is the chance to demonstrate their quality and excellence. We do not spend any money on advertising, we feel it's better to use any marketing budget to reward our customers and consultants, and the best way to do that is to run free absolutely no obligation in home dinners to demonstrate the many benefits of our system.</p>
			</div>
		</div>
      	<div class="row">
			<div class="col-sm-1 question-icon">Q</div>
			<div class="col-sm-11 qnanswer">
	          	<h3>Why would you give away a free meal?</h3>
				<p>We do not spend any money on advertising, we feel it's better to use any marketing budget to reward our customers and consultants, and the best way to do that is to run free absolutely no obligation in home dinners to demonstrate the many benefits of our system. Advertising is very expensive and in some cases in can be prohibitively expensive. We realized many years ago that the most effective form of advertising is personal recommendations from happy clients. You do not need to purchase anything and there is no obligation to purchase anything.
	All we ask is that if you are impressed with what you see that you will happily refer us onto your friends and relatives.</p>
			</div>
		</div>
      	<div class="row">
			<div class="col-sm-1 question-icon">Q</div>
			<div class="col-sm-11 qnanswer">
			  	<h3>What equipment do I need to supply?</h3>
				<p>
					Red 5 will supply most of the equipment, however we are going to need the following:<br>
					<ol type="1">
						<li>Mixing bowl for the cake</li>
						<li>A couple of large plates</li>
						<li>2 clear glasses</li>
						<li>A couple of forks</li>
						<li>A sharp knife</li>
						<li>Access to a hand washing area</li>
					</ol>
				</p>
			</div>
		</div>
    </div> <!-- /faq -->

    <div class="maroonsection">
		<div class="container">
			<span class="majorheadings">BOOKING</span><br>
			<span>REQUEST FOR A DEMONSTRATION</span>
		</div>
	</div>

    <div class="booking" id="booking">
		<div class="container">
			If you require more information about Red5 or if you are interested in exploring RED5 nutricious meals, please do not hesitate to contact us

			<div class="row form-row">
				<div class="col-md-2 box-item"></div>
				<div class="col-md-8">
					<form name="form1" method="post" action="/dinnershow">
						<div class="row">
							<div class="col-md-12"><small>Personal Details</small><hr></div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control input-lg" name="firstname" id="firstname" placeholder="First Name" value="{{request.form.firstname}}" required="required">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control input-lg" name="lastname" id="lastname" placeholder="Last Name" value="{{request.form.lastname}}" required="required">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="phone" class="form-control input-lg" name="phone" id="phone" placeholder="Phone" value="{{request.form.phone}}" required="required">
								</div>
							</div>
							<div class="col-md-6">								
								<div class="form-group">
									<input type="phone" class="form-control input-lg" name="phone2" id="phone2" value="{{request.form.phone2}}" placeholder="Phone 2">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input type="email" class="form-control input-lg" name="email" id="email" placeholder="Email" value="{{request.form.email}}">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12"><small>Date and Time</small><hr></div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="date" class="form-control input-lg" name="date" id="date" value="{{request.form.date}}" required="required">
								</div>
							</div>
							<div class="col-md-6">								
								<div class="form-group">
									<input type="time" class="form-control input-lg" name="time" id="time" value="{{request.form.time}}" required="required">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12"><small>Family Details</small><hr></div>
							<div class="col-md-12">
								<div class="form-group">
									<div class="radio">
										<label>Do you have any Allergies?</label>&nbsp;
										<label><input type="radio" name="allergies" value="Yes">YES</label>&nbsp;
									  	<label><input type="radio" name="allergies" value="No">NO</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<div class="radio">
										<label>Is this your first time seeing the Dinner Show?</label>&nbsp;
										<label><input type="radio" name="firsttime" value="First Time Seeing dinnershow: Yes">YES</label>&nbsp;
									  	<label><input type="radio" name="firsttime" value="Not Seeing Dinnershow for first time">NO</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="number" class="form-control input-lg" name="adults" id="adults" placeholder="Number of Adults" value="{{request.form.adults}}" required="required">
								</div>
							</div>
							<div class="col-md-6">								
								<div class="form-group">
									<input type="number" class="form-control input-lg" name="children" id="children" placeholder="Number of Children" value="{{request.form.children}}" required="required">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<textarea name="notes" id="notes" class="form-control" rows="4" cols="25" value="{{request.form.notes}}" placeholder="Notes"></textarea>
								</div>
								<button type="submit" class="btn btn-4 btn-block" name="btnBooking" id="btnBbooking">
							Send Request</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-2 box-item"></div>
			</div>
		</div>
	</div>
{% endblock %}
