{% extends '_layout.html' %}

{% block body %}
<div class="container">
  <h1></h1>
  <form action="" method="POST">
    <div class="form-group">
      <label>Name</label>
      <input type="text" name="username" class="form-control" value={{request.form.username}}>
    </div>

    <div class="form-group">
      <label>Surname</label>
      <input type="text" name="username" class="form-control" value={{request.form.username}}>
    </div>

    <div class="form-group">
      <label>Telephone Number </label>
      <input type="text" name="username" class="form-control" value={{request.form.username}}>
    </div>

    <div class="form-group">
      <label>Telephone Number 2</label>
      <input type="text" name="username" class="form-control" value={{request.form.username}}>
    </div>

    <div class="form-group">
      <label>How many adults in the family.</label>
      <input type="text" name="username" class="form-control" value={{request.form.username}}>
    </div>

     <div class="form-group">
      <label>How many adults in the children.</label>
      <input type="text" name="username" class="form-control" value={{request.form.username}}>
    </div>

     <div class="form-group">
      <label>Do you have any allergies.</label>
      <input type="text" name="username" class="form-control" value={{request.form.username}}>
    </div>

     <div class="form-group">
      <label>Is it the first time seeing the dinner show page.</label>
      <input type="text" name="username" class="form-control" value={{request.form.username}}>
    </div>

    <div class="form-group">
      <label>Notes.</label>
      <input type="password" name="password" class="form-control" value={{request.form.password}}>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
{% endblock %}
