{% extends "layout.html" %}
{% block body %}
 <!-- CAROUSEL -->
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item item active">
				<img class="d-block w-100" src="static/images/carousel/1.jpeg" alt="First slide">
				<div class="carousel-caption d-none d-md-block">
				    <h1>How you cook food is just as important as what you cook.</h1>
				    <h5>SaladMaster</h5>
				    <h6><a href="#bookyourdinner">Book Your Dinner Show</a></h6>
			  	</div>
			</div>
			<div class="carousel-item item">
			  	<img class="d-block w-100" src="static/images/carousel/2.jpeg" alt="Second slide">
				<div class="carousel-caption d-none d-md-block">
				    <h1>The Power of Food</h1>
				    <h5>Food is more powerful than we have the capacity to comprehend.</h5>
				    <h6><a href="#">Learn More</a></h6>
			  	</div>
			</div>
			<div class="carousel-item item">
			  	<img class="d-block w-100" src="static/images/carousel/3.jpeg" alt="Third slide">
				<div class="carousel-caption d-none d-md-block">
				    <h1>Low Fat</h1>
				    <h5> Your favorite recipes can be made healthier without sacrificing the taste you love.</h5>
				    <h6><a href="#">Learn More</a></h6>
			  	</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>


	<!-- Mission -->
    <div class="maroonsection mission">
		<div class="container">
			<h1>Our Mission</h1>
			<p>"To provide direct access to Health, Wealth, Information, Opportunity & growth to both our customers and consultants."</p><br>

			<h1>Our Vision</h1>
			<p>"Providing direct access to health and wealth in the Wellness Industry."</p>
		</div>
	</div>

	<div class="vision">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p id="left-side">Red5 &amp; Saladmaster provide free consultation for families, communities and organizational teams on how to maximize nutrition in their traditional meals. We cook with no oil, no water, on titanium and below boiling point in order to retain the electrons and photo-chemicals that our bodies need to keep fithtml version of &html version of & and healthy. The consultations are private and are usually conducted in the comfort of your own home and/or at a venue conducive to both parties.
					<!-- Tests conducted by various food science communities show that our system retains 93% nutrition, saves 70% of your cooking fuel, 50% of your cooking time and 30% of our grocery shopping --></p>
				</div>

				<div class="col-md-6">
					<p>Globally and locally we are faced with an alarming increase in lifestyle diseases such as high cholesterol, cancer, diabetes, obesity, high blood pressure to mention a few. Through our demonstrations we are helping families fight the devastating, ever increasing and costly dangers and consequences of these diseases. The world is turning back to food as a source of natural medicine and the Saladmaster cooking system aids with this as it protects food integrity, preserves nutrients and prevents contamination.
					</p>
				</div>
			<!-- Checking how it will look like with only two columns -->
		<!-- 		<div class="col-md-4">
					<p>.</p>
				</div> -->
			</div>
			<!-- <a href="dinnershow.html">READ MORE</a> -->
		</div>
	</div>


	<div class="freeshowad" id="bookyourdinner">
		<div class="container">
			<div style="font-size: 80px;">Book Your Dinner Show</div>
			<div style="font-size: 30px">To book your FREE Dinner Show contact us now!</div><br>
			<a class="linkbutton" href="#">Book Now</a>
		</div>
	</div>

{% endblock %}

