{% extends "layout.html" %}
{% block title %}Life Changing {% endblock %}

{% block body %}
	<!-- Major Body Content - After Nav, Before Footer -->
	<div class="major-body-content belownav">
	    <div class="marooncontainer">
			<div class="container">
				<h1>Life Changing Event</h1>
			</div>
		</div>

		<div class="greycontainer" style="padding: 0 !important;"><!-- belownav is just used to add a margintop -->
			<div class="row" style="padding: 0 !important;">
				<div class="col-sm-6" style="padding: 0 !important;">
					<!--<img class="recipe-image" src="static/images/tickets.jpg">-->
					<p style="margin: 20px;">Saladmaster continuously sets new world wide record in Direct Sales and Africa is the leading growing Direct sales Company  that is opening many dealerships in new countries every year. We share amazing business opportunities. We are looking  for more people with leadership skills and values that are committed to contribute to our vision of  “Doing  Well,  Doing  Good”.  Currently  we  have  10  more  offices  opening  up  like  ours  all  over  East  Africa  and  our  mission  is  to  Open  20  by  2020!<br><br>
						Location: Serena Hotel Kampala <br>
						Date: 15th September, Saturday <br>
						Time: 10:00 AM	<br><br>

						Contact us for reservations, only limited number of tickets available!

					</p>
				</div>
				<div class="col-sm-6 recipe-details left">
					<video width="500" height="500" controls="" style="box-shadow: 0px 2px 80px rgba(48,13,79,.3), 0px 2px 80px rgba(0,0,0,.3);" class="recipe-image">
					  <source src="static/images/trailer.mp4" type="video/mp4">
						Your browser does not support the video.
					</video>
				</div>
			</div>
	    </div>
	    <br>

		<!-- Start Details Section -->
	    <center><div class="container" style="margin-bottom: 5%;">
			<h1></h1>

			<div class="row">
				<div class="col-lg-4">
					<img src="static/images/lifechanger/1.jpg" class="img-fluid">
					<h3 style="color: red;">LEARN MORE!</h3>
					<h6>We are officially launching Saladmaster East Africa in 5 countries (Uganda, Rwanda, Burundi, Tanzania, Kenya) and are celebrating the health it has brought to the region and the many opportunities in our communities. We have International specialists & trainers coming from the United Kingdom, Canada and Kenya among others to teach us more on the wisdom of food and its importance in cooking and nutrition. They will share tips about Saladmaster, the future of Sales, potential growth of Africa businesses, wealth creation and youth empowerment.</h6>
				</div>
				<div class="col-lg-4">
					<img src="https://ci6.googleusercontent.com/proxy/DqZnah5-3Wt0UmciHoRhSEXywjuViathdlLZsg3putDgbZs0AyP_0dm9C4dVjl3Jm31s_Uuc_5b_7zc3y6XbJZQ4guaRR_hYUZanSfzocnpEZZ0=s0-d-e1-ft#https://images.chamaileon.io/5b7d450dd0a22e00123f016a/fun.JPG" class="img-fluid">
					<h3 style="color: red;">HAVE FUN!</h3>
					<h6>Get ready for a great time! Enjoy traditional dancing, music, giveaways and amazing energy at the Life Changing Event 2018!</h6><hr>
					<h6>Red Carpet <br>
						Dress Code: Formal
					</h6>
				</div>
			</div>

		</div></center>
		<!-- End Details Section -->
		
	    <!-- Start International Speakers Section -->
	    <div class="container">
			<h2>OUR INTERNATIONAL SPEAKERS</h2>
			<br>

			<div class="gallery">
				<div class="row" style="margin-bottom: 70px;">
					<div class="col-lg-4">
						<img src="static/images/ceo.jpg" class="img-fluid">
						<h3>Danstun Mugarura</h3>
						<h6>CEO of Red 5 Limited</h6><br>
						<h6>United Kingdom</h6>
					</div>
					<div class="col-lg-4">
						<img src="static/images/irene.jpg" class="img-fluid">
						<h3>Dr Irene Miriam Caminiti</h3>
						<h6>CEO of BontaVita</h6><br>
						<h6>Kenya</h6>
					</div>
					<div class="col-lg-4">
						<img src="static/images/azimio.jpg" class="img-fluid">
						<h3>Maina Azimio</h3>
						<h6>Founder & CEO Azima Wellness Consultants</h6><br>
						<h6>Kenya</h6>
					</div>
				</div>
			</div>

			<!-- Second Row -->
			<div class="gallery">
				<div class="row" style="margin-bottom: 70px;">
					<div class="col-lg-4">
						<img src="static/images/spkr.jpg" class="img-fluid">
						<h3>Annest Namata</h3>
						<h6>CEO of Leverage Consultant Limited</h6><br>
						<h6>Rwanda</h6>
					</div>
					<div class="col-lg-4">
						<img src="https://ci5.googleusercontent.com/proxy/nCIqVvg_mGsBIwPFikzvygTHtkJyrWATdlsip_50aSVAkc96dR7AkTFL8E9N8jY2TpmIjF3vBdFTFNpYXSnNngPAH9x_rt8R7hiXq8iqQ6tzXC139gue=s0-d-e1-ft#https://images.chamaileon.io/5b7d450dd0a22e00123f016a/dominic.JPG" class="img-fluid">
						<h3>Dominic Kotarski</h3>
						<h6>Certified Master Coach, Author</h6><a href="http://dominickotarski.com/" target="_blank"><u>Read More</u></a><br>
						<h6>Canada</h6>
					</div>
					<div class="col-lg-4">
						<img src="https://ci3.googleusercontent.com/proxy/hVJvwWDVMOLqndOKyIjx5qtyxXGU68mamFH7TGtMuMQcSasjWjdWqhU0mUnFzFMD0pzmzzhIzsKFEBrW4KaUmw4z3_-94SRofRX2JszhR_SuRZFxpEsUGPPk438=s0-d-e1-ft#https://images.chamaileon.io/5b7d450dd0a22e00123f016a/Mark%20Jones.jpg" class="img-fluid">
						<h3>Mark Jones</h3>
						<h6>Saladmaster Executive Sales Director</h6><br>
						<h6>United Kingdom</h6>
					</div>
					
				</div>
			</div>
			<!-- End Second Row -->

		</div>
		<!-- End International Speakers Section -->

		<!-- Start Tickets Section -->
	<div style="margin-bottom: 7%; background-color: #F8F8F8;">
	    <div class="container" ><br><br>
			<center><h2>How do I Pay?</h2></center><br><br><br>

			<div class="row">
				<div class="col-lg-4">
					<h3 style="color: red;">PLEASE FOLLOW THE METHODS BELOW, REGISTRATION ENDS 5TH SEPTEMBER.</h3><br>
					<h6 class="">VIP TICKETS ARE AVAILABLE <br>

						Exclusive Saladmaster Gifts

						Front and comfortable Seats

						Healthy treats and Juice

						A chance to meet win Saladmaster Product

						Meeting with international guests
						Inquire now!
					</h6><br>
					<h6>CASH <br>
						You can pass by our offices in Myenga or contact your consultant for payment. Red 5 Limited, Kalungi Road, Plot 6284

						<br><br>
						MOBILE MONEY
						<br>
						You can send mobile money to the number provided  including charges
						NUMBER FOR MOBILE MONEY: 0776041192 (Priscilla)
					</h6>
				</div>
				<div class="col-md-8">
					<center><img src="https://ci5.googleusercontent.com/proxy/O5H3Rcj5zL_kwb-BTqH3O6BITdAlkAYBRRUyW71iXJIUcRrgeL5utkeajYDb-uFmiQw7BbRTsX3Tq7aqvaRvB4IFt3Y=s0-d-e1-ft#https://images.chamaileon.io/LCE%20TICKET.jpeg" class="img-fluid"></center>
				</div>
			</div>

		</div>
	</div>	
		<!-- End Tickets Section -->


		<br>
		<center><h1>Snapshots</h1></center>
	    <!-- GALLERY -->
	    <div class="whitecontainer centered">
	    	<div class="container">
	    		<!-- Images: Add both large and small versions -->
				<div class="gallery">
					<div class="row">
						<div class="col-sm-3">
							<img src="static/images/lifechanger/1.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/1.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/lifechanger/2.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/2.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/lifechanger/3.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/3.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/lifechanger/4.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/4.jpg" data-target="#myModal" class="img-fluid">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<img src="static/images/lifechanger/5.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/5.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/lifechanger/6.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/6.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/lifechanger/7.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/7.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/lifechanger/8.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/8.jpg" data-target="#myModal" class="img-fluid">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<img src="static/images/lifechanger/9.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/9.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/lifechanger/10.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/10.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/lifechanger/11.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/11.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/lifechanger/13.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/13.jpg" data-target="#myModal" class="img-fluid">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<img src="static/images/lifechanger/12.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/12.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/lifechanger/14.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/14.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/lifechanger/15.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/15.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/lifechanger/16.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/16.jpg" data-target="#myModal" class="img-fluid">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<img src="static/images/lifechanger/17.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/17.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/lifechanger/18.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/18.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/lifechanger/19.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/19.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/lifechanger/37.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/37.jpg" data-target="#myModal" class="img-fluid">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<img src="static/images/lifechanger/21.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/21.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/lifechanger/22.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/22.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/lifechanger/23.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/23.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="col-sm-3">
							<img src="static/images/lifechanger/24.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/24.jpg" data-target="#myModal" class="img-fluid">
						</div>
						<div class="row">
							<div class="col-sm-3">
								<img src="static/images/lifechanger/25.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/25.jpg" data-target="#myModal" class="img-fluid">
							</div>
							<div class="col-sm-3">
								<img src="static/images/lifechanger/26.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/26.jpg" data-target="#myModal" class="img-fluid">
							</div>
							<div class="col-sm-3">
								<img src="static/images/lifechanger/27.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/27.jpg" data-target="#myModal" class="img-fluid">
							</div>
							<div class="col-sm-3">
								<img src="static/images/lifechanger/28.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/28.jpg" data-target="#myModal" class="img-fluid">
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<img src="static/images/lifechanger/29.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/29.jpg" data-target="#myModal" class="img-fluid">
							</div>
							<div class="col-sm-3">
								<img src="static/images/lifechanger/30.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/30.jpg" data-target="#myModal" class="img-fluid">
							</div>
							<div class="col-sm-3">
								<img src="static/images/lifechanger/31.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/31.jpg" data-target="#myModal" class="img-fluid">
							</div>
							<div class="col-sm-3">
								<img src="static/images/lifechanger/32.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/32.jpg" data-target="#myModal" class="img-fluid">
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<img src="static/images/lifechanger/33.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/33.jpg" data-target="#myModal" class="img-fluid">
							</div>
							<div class="col-sm-3">
								<img src="static/images/lifechanger/34.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/34.jpg" data-target="#myModal" class="img-fluid">
							</div>
							<div class="col-sm-3">
								<img src="static/images/lifechanger/35.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/35.jpg" data-target="#myModal" class="img-fluid">
							</div>
							<div class="col-sm-3">
								<img src="static/images/lifechanger/36.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/36.jpg" data-target="#myModal" class="img-fluid">
							</div>
						</div>

						<div class="row">
							<div class="col-sm-3">
								<img src="static/images/lifechanger/41.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/41.jpg" data-target="#myModal" class="img-fluid">
							</div>
							<div class="col-sm-3">
								<img src="static/images/lifechanger/42.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/42.jpg" data-target="#myModal" class="img-fluid">
							</div>
							<div class="col-sm-3">
								<img src="static/images/lifechanger/43.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/43.jpg" data-target="#myModal" class="img-fluid">
							</div>
							<div class="col-sm-3">
								<img src="static/images/lifechanger/44.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/44.jpg" data-target="#myModal" class="img-fluid">
							</div>
						</div>

						<div class="row">
							<div class="col-sm-3">
								<img src="static/images/lifechanger/51.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/51.jpg" data-target="#myModal" class="img-fluid">
							</div>
							<div class="col-sm-3">
								<img src="static/images/lifechanger/52.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/52.jpg" data-target="#myModal" class="img-fluid">
							</div>
							<div class="col-sm-3">
								<img src="static/images/lifechanger/53.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/53.jpg" data-target="#myModal" class="img-fluid">
							</div>
							<div class="col-sm-3">
								<img src="static/images/lifechanger/54.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/54.jpg" data-target="#myModal" class="img-fluid">
							</div>
						</div>

						<div class="row">
							<div class="col-sm-3">
								<img src="static/images/lifechanger/20.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/20.jpg" data-target="#myModal" class="img-fluid">
							</div>
							<div class="col-sm-3">
								<img src="static/images/lifechanger/61.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/61.jpg" data-target="#myModal" class="img-fluid">
							</div>
							<div class="col-sm-3">
								<img src="static/images/lifechanger/62.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/62.jpg" data-target="#myModal" class="img-fluid">
							</div>
							<div class="col-sm-3">
								<img src="static/images/lifechanger/63.jpg" alt="" data-toggle="modal" data-bigimage="static/images/lifechanger/63.jpg" data-target="#myModal" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
					  	<div class="modal-content">
						    <div class="modal-body">
						    	<!-- Close Button -->
						     	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						    		<span aria-hidden="true">&times;</span>
						    	</button>
						    	<!-- Loading GIF -->
						      	<img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" alt="" id="image" class="img-fluid">
						    </div>
					  	</div>
					</div>
				</div>
			</div>
	    </div>
	</div>

{% endblock %}