{% extends "layout.html" %}
{% block title %}Life Changing {% endblock %}

{% block body %}
	<!-- Major Body Content - After Nav, Before Footer -->
	<div class="major-body-content">
	    <div class="greycontainer centered belownav"><!-- belownav is just used to add a margintop -->
			<div class="container">
				<h1>Heading</h1>
				<p>Sample GreyContainer Centered</p>
				It has been said that astronomy is a humbling and character-building experience. There is perhaps no better demonstration of the folly of human conceits than this distant image of our tiny world. To me, it underscores our responsibility to deal more kindly with one another, and to preserve and cherish the pale blue dot, the only home we've ever known.
			</div>
	    </div>

		<div class="marooncontainer centered">
			<div class="container">
				<h1>Heading</h1>
				<p>Sample MaroonContainer Centered</p>
				It has been said that astronomy is a humbling and character-building experience. There is perhaps no better demonstration of the folly of human conceits than this distant image of our tiny world. To me, it underscores our responsibility to deal more kindly with one another, and to preserve and cherish the pale blue dot, the only home we've ever known.
			</div>
		</div>

	    <div class="whitecontainer centered">
			<div class="container">
				<h1>Heading</h1>
				<p>Sample WhiteContainer Centered</p>
				It has been said that astronomy is a humbling and character-building experience. There is perhaps no better demonstration of the folly of human conceits than this distant image of our tiny world. To me, it underscores our responsibility to deal more kindly with one another, and to preserve and cherish the pale blue dot, the only home we've ever known.
			</div>
		</div>
		<div class="greycontainer">
			<div class="container">
				<h1>Heading</h1>
				<p>Sample GreyContainer LeftAligned</p>
				It has been said that astronomy is a humbling and character-building experience. There is perhaps no better demonstration of the folly of human conceits than this distant image of our tiny world. To me, it underscores our responsibility to deal more kindly with one another, and to preserve and cherish the pale blue dot, the only home we've ever known.
			</div>
	    </div>

		<div class="marooncontainer">
			<div class="container">
				<h1>Heading</h1>
				<p>Sample MaroonContainer LeftAligned</p>
				It has been said that astronomy is a humbling and character-building experience. There is perhaps no better demonstration of the folly of human conceits than this distant image of our tiny world. To me, it underscores our responsibility to deal more kindly with one another, and to preserve and cherish the pale blue dot, the only home we've ever known.
			</div>
		</div>

	    <div class="whitecontainer">
			<div class="container">
				<h1>Heading</h1>
				<p>Sample WhiteContainer LeftAligned</p>
				It has been said that astronomy is a humbling and character-building experience. There is perhaps no better demonstration of the folly of human conceits than this distant image of our tiny world. To me, it underscores our responsibility to deal more kindly with one another, and to preserve and cherish the pale blue dot, the only home we've ever known.
			</div>
		</div>
	</div>

{% endblock %}