{% extends "layout.html" %}

{% block title %} Lunchbox {% endblock %}
{% block body %}

    <!-- CAROUSEL -->
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item item active">
				<img class="d-block w-100" src="static/images/lunchbox_carousel1.jpg" alt="First slide">
				<div class="carousel-caption d-none d-md-block">
				    <h1 style="font-size: 100px;">COMING SOON!</h1>
			  	</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	<div class="greytopcover">
		&nbsp;
	</div>

	<!-- Mission -->
    <div class="maroonsection about">
		<div class="container">
			<h1>About LunchBox</h1><br>
			<p>Enjoy the Flavor Without the Fat
			Because there’s no need to add butter, oil or excess fat to flavor your food, your favorite recipes can be made healthier without sacrificing the taste you love. Our Vapo-Valve creates a semi-vacuum cooking environment that locks in moisture and maintains food's natural flavor.
			With <strong>Red 5 Lunch Box</strong> you can order this healthy food cooked in SaladMaster cookware.
			</p><br>
			<p>A health movement is coming and you will need to join it.
			It's our LunchBox movement, where order your food cooked with no water or oil, Food cooked in SaladMaster cookware,
			Food that retains up to 93% of its nutrients.
			</p>
		</div>
	</div>

	<div class="services">
		<div class="container">
			<h1>LunchBox Services</h1><br>
			<p>Do you find it hard to get healthy but tasty lunches in their natural flavors while at work? <br>
			Sometimes it can seem like it's a choice between the two</p>

			<div class="row">
				<div class="col-sm-4">
					<div class="service-card">
						<i class="fas fa-truck"></i>
						<div style="font-size: 16px">
							<div class="services-heading">1. Food Delivery</div>
							<p>We Delivery food to offices,workpaces and homes</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="service-card">
						<i class="fab fa-black-tie"></i>
						<div style="font-size: 16px">
							<div class="services-heading">2. Outside Catering</div>
							<p>We provide catering services to Weddings, Ceremonies and Parties.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="service-card">
						<i class="fas fa-utensils"></i>
						<div style="font-size: 16px">
							<div class="services-heading">3. Berbeques</div>
							<p>We make berbeques in all places at the customers convenience</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="lunchbox-menu">
		<div class="container">
			<h1>Lunch Box Menu</h1><br>
			We would like to take this opportunity to welcome you at our Lunch box. We are offering a warm, friendly laoreet dolore magna aliquam erat volutpat. atmosphere to share a meal with family and friends at any time of the day or evening.

			<div class="row">
				<div class="col-sm-4">
					<div class="menu-card">
						<img src="static/images/carousel/1.jpeg" alt="menu image">
						<h5>SAMPLE MENU TITLE</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi massa dui, venenatis ac semper sed, pellentesque eget mi. </p>
						<a class="order-button" href="#">ORDER NOW</a>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="menu-card">
						<img src="static/images/carousel/2.jpeg" alt="menu image">
						<h5>SAMPLE MENU TITLE</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi massa dui, venenatis ac semper sed, pellentesque eget mi. </p>
						<a class="order-button" href="#">ORDER NOW</a>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="menu-card">
						<img src="static/images/carousel/3.jpeg" alt="menu image">
						<h5>SAMPLE MENU TITLE</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi massa dui, venenatis ac semper sed, pellentesque eget mi. </p>
						<a class="order-button" href="#">ORDER NOW</a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4">
					<div class="menu-card">
						<img src="static/images/carousel/1.jpeg" alt="menu image">
						<h5>SAMPLE MENU TITLE</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi massa dui, venenatis ac semper sed, pellentesque eget mi. </p>
						<a class="order-button" href="#">ORDER NOW</a>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="menu-card">
						<img src="static/images/carousel/2.jpeg" alt="menu image">
						<h5>SAMPLE MENU TITLE</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi massa dui, venenatis ac semper sed, pellentesque eget mi. </p>
						<a class="order-button" href="#">ORDER NOW</a>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="menu-card">
						<img src="static/images/carousel/3.jpeg" alt="menu image">
						<h5>SAMPLE MENU TITLE</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi massa dui, venenatis ac semper sed, pellentesque eget mi. </p>
						<a class="order-button" href="#">ORDER NOW</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="booking">
		<div class="container">
			<h1>BOOKING</h1><br>
			If you require more information about Red5 or if you are interested in exploring RED5 nutricious meals, please do not hesitate to contact us

			<div class="row form-row">
				<div class="col-md-2 box-item"></div>
				<div class="col-md-8">
					<form name="form1" method="post" action="{{ url_for( dinnershow )}}">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control input-lg" name="firstname" id="name" placeholder="Full Name" required="required">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="email" class="form-control input-lg" name="email1" id="email" placeholder="Email" required="required">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="phone" class="form-control input-lg" name="phone1" id="phone" placeholder="Phone" required="required">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control input-lg" name="email2" id="email" placeholder="Location" required="required">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" class="form-control input-lg" name="subject" id="subject" placeholder="Subject" required="required">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<textarea name="message" id="message" class="form-control" rows="4" cols="25" required="required" placeholder="Message"></textarea>
								</div>
								<button type="submit" class="btn btn-4 btn-block" name="btnBooking" id="btnBbooking">
							Book Now</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-2 box-item"></div>
			</div>
		</div>
	</div>

{% endblock %}