{% extends "layout.html" %}
{% block title %} Open House {% endblock %}

{% block body %}
	<!-- CAROUSEL -->
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item item active">
				<img class="d-block w-100" src="static/images/openhouse/1.jpg" alt="First slide">
				<div class="carousel-caption d-none d-md-block">

			  	</div>
			</div>
			<div class="carousel-item item">
			  	<img class="d-block w-100" src="static/images/openhouse/2.jpg" alt="Second slide">
				<div class="carousel-caption d-none d-md-block">

			  	</div>
			</div>
			<div class="carousel-item item">
			  	<img class="d-block w-100" src="static/images/openhouse/3.jpg" alt="Third slide">
				<div class="carousel-caption d-none d-md-block">

			  	</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>


	<!-- Major Body Content - After Nav, Before Footer -->
	<div class="major-body-content">
	    <div class="whitecontainer">
			<div class="container">
				<p>SaladMaster continuously sets new world wide records in Direct Sales and Africa is the leading growing region that is opening many dealerships in new countries every year.
				<br><br>
				Are you a Red5 Client? Are you passionate about self and business growth? Are you dedicated to eating for life?
				<br><br>
				Then this conference is exclusively for YOU as our esteemed client! This new exciting educational venture provides a chance for you to train yourself for success!
				<br><br>
				We are currently opening another 20 offices in the next 3 years. For this reason, we’re looking for part time people, full time people, managers and branch owners. We have great job satisfaction and the hours can work around an existing job. All our opportunities are available in East Africa Countries like Uganda, Kenya, Rwanda, coming soon to Tanzania and more.
				<br><br>
				Our vision is to do well and do good in all the areas we are opening up by providing access to health and opportunities to all communities.
				<br><br>
				To learn more about us and the business, come and join us at our offices for an open house that runs every Monday at 12:00 PM (except public holidays)
				<br><br>
				Looking forward in seeing you!
				</p>
			</div>
		</div>
	</div>	

	<div class="maroonsection">
		<div class="container">
			<span class="majorheadings">BOOKING</span><br>
			<span>REGISTRATION FOR OPEN HOUSE</span>
		</div>
	</div>

    <div class="booking" id="booking">
		<div class="container">
			<div class="row form-row">
				<div class="col-md-2 box-item"></div>
				<div class="col-md-8">
					<form name="form1" method="post" action="{{ url_for('openhouse')}}">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control input-lg" name="firstname" id="firstname" placeholder="First Name" value="{{request.form.firstname}}" required="required">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control input-lg" name="lastname" id="lastname" placeholder="Last Name" value="{{request.form.lastname}}" required="required">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="phone" class="form-control input-lg" name="phone" id="phone" placeholder="Phone" value="{{request.form.phone}}" required="required">
								</div>
							</div>
							<div class="col-md-6">								
								<div class="form-group">
									<input type="phone" class="form-control input-lg" name="phone2" id="phone2"  value="{{request.form.phone2}}" placeholder="Phone 2">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="email" class="form-control input-lg" name="email" id="email"  value="{{request.form.email}}" placeholder="Email">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="number" class="form-control input-lg" name="age" id="age" placeholder="Age" value="{{request.form.age}}" required="required">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<div class="radio">
										<label>Are you currently working?</label>&nbsp;
										<label><input type="radio" name="allergies" value="I am Currently working">YES</label>&nbsp;
									  	<label><input type="radio" name="allergies" value="I am not working currently">NO</label>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" class="form-control input-lg" name="industry" id="industry" value="{{request.form.industry}}" placeholder="If yes, which industry do you work in?">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<textarea name="notes" id="notes" class="form-control" rows="4" cols="25"  value="{{request.form.notes}}" placeholder="Notes"></textarea>
								</div>
								<button type="submit" class="btn btn-4 btn-block" name="btnBooking" id="btnBbooking">
							Send Request</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-2 box-item"></div>
			</div>
		</div>
	</div>

{% endblock %}
