{% extends "layout.html" %}

{% block title %} Recipes {% endblock %}
{% block body %}

	<!-- Major Body Content - After Nav, Before Footer -->
	<div class="major-body-content belownav centered">	    
		<div class="marooncontainer">
			<div class="container">
				<h1>Featured Recipes</h1>
				<p>Learn how to prepare it like the Chef</p>
			</div>
		</div>
		
		<div class="greycontainer" style="padding: 0 !important;"><!-- belownav is just used to add a margintop -->
			<div class="row" style="padding: 0 !important;">
				<div class="col-sm-6" style="padding: 0 !important;">					
					<img class="recipe-image" src="../static/images/recipes/coconut-rice1.jpg">
				</div>
				<div class="col-sm-6 recipe-details left">					
					<div class="recipe-title">Coconut Rice with Turmeric and Prawns</div>

					For the amount of ingredients used to prepare, this delicious dish can serve from 3 to 4 people.

					Use a smaller piece of your nutritional Saladmaster system to prepare this dish with the ingredients written below (for example 9 in skillet or 3 Qt. Roaster) if you would like to prepare twice as much in one go, use a bigger piece (for example 12 in Electric Skillet, 7 Qt. Roaster and etc.) and twice as much of ingredients.<br>

					<h4>Ingredients:</h4>

					<ol type="1">
						<li>Can of Creamy Coconut Milk</li>
						<li>Half a cup of Water</li>
						<li>Himalayan or Sea Salt (optional)</li>
						<li>Spring Onions (optional)</li>
						<li>Prawns or any sea food of your choice</li>
						<li>Table spoon of Turmeric</li>
						<li>A cup of washed Basmati Rice (can use brown basmati or even Black Rice)</li>
						<li>3/4 cup of Frozen Corn</li>
						<li>3/4 cup of Frozen Peas</li>
						<li>Italian Spice</li>
						<li>Green Chilli (optional)</li>
					</ol>
					
					<h4>How to prepare:</h4>

					Pour the Coconut milk into the Saladmaster pan with half a cup of Water and mix it with the table spoon of Turmeric. Wash the rice and add it to the liquid. If there is less than an inch of water above the rice, add more water. Add the Frozen Corn and Peas with a pinch of salt and chopped chilli if you preffer spicy. Add a nice amount of Italian Spice or any Dry Herb mixture and put it to cook on medium heat. Once the Valve clicks, add your sea food and cook for another 7-10 min.

					Garnish with some chopped Spring Onions.
				</div>
			</div>
	    </div>

	    <div class="whitecontainer" style="padding: 0 !important;"><!-- belownav is just used to add a margintop -->
			<div class="row" style="padding: 0 !important;">
				<div class="col-sm-6 recipe-details left">					
					<div class="recipe-title">Cutlets with mushrooms and cheese</div>
					Cutlets With Mushrooms and Cheese

					Any choice of mince meat - form them into round burger shapes.<br>

					<ul>
						<li>Preheat the electric skillet to 200 C.</li>
						<li>Check with a splash of water if it's ready for frying, bubbles should form on the surface.</li>
						<li>Fry until brown. Warning: you will be very surprised of how much oil will come out. I normally pour it out before the cutlets are cooked.</li>
						<li>Meat does stick at first and it's normal, it simply means the side is not ready to flip. In a small skillet or roaster shred some mushrooms with cone 2 and using the same cone - 1 big onion. Cook using medium click low method until it's cooked and mushy, takes very little time. You can add spices of your choice although I did not use any.</li>
						<li>Spread the mushroom mixture on cutlets.</li>
						<li>Slice the cheese with cone 1 and finish the dish by spreading it onto the cutlets.</li>
						<li>Close the cover for it to melt, by this point your electric or any other skillet can be switched off. Garnish with some chopped parsley or any greens of your choice. Enjoy</li>
					</ul>
				</div>
				<div class="col-sm-6" style="padding: 0 !important;">					
					<img class="recipe-image" src="../static/images/recipes/cutlets-mushrooms.jpg">
				</div>				
			</div>
	    </div>

	    <div class="greycontainer" style="padding: 0 !important;"><!-- belownav is just used to add a margintop -->
			<div class="row" style="padding: 0 !important;">
				<div class="col-sm-6" style="padding: 0 !important;">					
					<img class="recipe-image" src="../static/images/recipes/mackerel-fillet.jpg">
				</div>	
				<div class="col-sm-6 recipe-details left">					
					<div class="recipe-title">Mackerel Fillets with Carrot and Egg Filling</div>
					<h4>For one fillet you need:</h4>

					<ul>
						<li>1 medium cooked size carrot</li>
						<li>2 boiled eggs</li>
						<li>White pepper</li>
						<li>Sea or Himalayan salt</li>
						<li>Gelatin</li>
						<li>Lemon</li>
						<li>Bay leafs</li>
						<li>Granules of pepper</li>
					</ul>

					<h4>Preparation:</h4>

					<ul>
						<li>Prepare 2 boneless mackerel fillets</li>
						<li>Shred 2 boiled eggs in a separate bowl using cone 1 or a blender. Should look almost like a paste. Add salt with white pepper to taste and a teaspoon of gelatin.</li>
						<li>Repeat the same process with the for layer of carrot.</li>
						<li>Spread the two layers evenly on the fillet and finish by adding the second fillet on top.</li>
						<li>Wrap it in cooking paper and place it to your preferred Saladmaster skillet or roaster (Electric skillet used in this recipe).</li>
						<li>Pour an inch of water, put slices of lemon, bay leaves and some granules of pepper</li>
						<li>Cook medium - click - low. Electric skillet medium temperature starts at 140 C, after the click reduce it to 85 C and in 10 min the fillets should be ready. Don&#39;t open the cover during the cooking process.</li>
						<li>Place the fillets in the fridge over night and serve once solid.</li>
					</ul>

					<strong>Enjoy!</strong>
				</div>			
			</div>
	    </div>

	    <div class="whitecontainer" style="padding: 0 !important;"><!-- belownav is just used to add a margintop -->
			<div class="row" style="padding: 0 !important;">
				<div class="col-sm-6 recipe-details left">					
					<div class="recipe-title">Mexican Quinoa</div>

					<h4>Ingredients</h4>
					<ul>
						<li>1 Diced onion (cone 2)</li>
						<li>2 Diced Jalapeño peppers</li>
						<li>Fry them with a table spoon of water on medium heat, then add:</li>
						<li>1 cup of corn</li>
						<li>1 cup of black beans</li>
						<li>1 cup fresh diced tomatoes</li>
						<li>2 table spoons of tomato pure (optional)</li>
						<li>3/4 cup of Quinoa</li>
						<li>1 table spoon of chili powder</li>
						<li>1/2 table spoon of cumin</li>
						<li>1 cup of vegetable broth</li>
					</ul>

					Close the lid and cook on medium heat. Once the valve clicks, set the heat on low and after 5 -7 min the dish is ready. 
					<br><br>
					The trick with Saladmaster is to keep the cover closed during the cooking, opening it prevents semi vacuum from forming which helps the food to cook quicker. Garnish with some juice of lime (optional)
					<br><br>
					<strong>Enjoy!</strong>
				</div>
				<div class="col-sm-6" style="padding: 0 !important;">					
					<img class="recipe-image" src="../static/images/recipes/mexican-quinia.jpg">
				</div>				
			</div>
	    </div>
	</div>

{% endblock %}